@charset "utf-8";
/* CSS Document */

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1170px;
}
.container{margin-right:auto;margin-left:auto}
.container:before,.container:after{content:" ";display:table;}
.container:after{clear:both;}

@media only screen and (min-width: 1200px)
.container {
  max-width: 1170px;
}
@media only screen and (min-width: 992px)
.container {
  max-width: 970px;
}
@media only screen and (min-width: 768px)
.container {
  max-width: 750px;
}

/*.col-xs-4{padding-left:10px;padding-right:10px;} */
.col-xs-2, .col-xs-4{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-xs-4{float:left;}
.col-xs-4{width:33.33333333333333%;}
.col-xs-2{width:25%;float:left;}

.col-md-2{position:relative;min-height:1px;float:left;width:20%;padding-left:3px;padding-right:3px;}

.pro-card{border:1px solid #d2d2d2;border-radius:5px;height:202px;text-align:center;margin-bottom:20px;cursor:pointer;}
.pro-card:hover{border:1px solid #f2ae00;box-shadow:inset 0 0 10px #f9e497;}

.company-type {
  width: 60%;
  margin: 15px auto 0 auto;
  height: 44px;
  display: block;
  line-height: 16px;
}

.pro-type-list p {
  margin: 0 0 10px;
}

.pro-type-list p {
  margin: 0 0 10px;
}

.icon-plumber {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
  background-image: url("../masters_city/images/tools-wrench-pipe-512-color.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-hammer {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
  background-image: url("../masters_city/images/hammer_settings-512-color.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pro-type-link, .pro-type-link:link,  .pro-type-link:visited{
  color: rgb(56, 120, 216);
  font-size: 12px;
}

.pro-type-link-title {
  color: rgb(56, 120, 216);
  line-height: 1.3;
  font-size: 14px;
  font-weight: bold;
}


