@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Open Sans New';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}

body.custom-background #page { background-color: #ececec; }

.mc-body {
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    min-width: 1100px;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1170px;
}
.container{margin-right:auto;margin-left:auto}
.container:before,.container:after{content:" ";display:table;}
.container:after{clear:both;}

@media only screen and (min-width: 1200px)
.container {
  max-width: 1170px;
}
@media only screen and (min-width: 992px)
.container {
  max-width: 970px;
}
@media only screen and (min-width: 768px)
.container {
  max-width: 750px;
}

/*.col-xs-4{padding-left:10px;padding-right:10px;} */
.col-xs-2, .col-xs-4{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-xs-4{float:left;}
.col-xs-4{width:33.33333333333333%;}
.col-xs-2{width:25%;float:left;}

.col-md-2{position:relative;min-height:1px;float:left;width:20%;padding-left:3px;padding-right:3px;}

.pro-card{border:1px solid #d2d2d2;border-radius:5px;height:202px;text-align:center;margin-bottom:20px;cursor:pointer;}
.pro-card:hover{border:1px solid #f2ae00;box-shadow:inset 0 0 10px #f9e497;}

.company-type {
  width: 60%;
  margin: 15px auto 0 auto;
  height: 44px;
  display: block;
  line-height: 16px;
}

.pro-type-list p {
  margin: 0 0 10px;
}

.pro-type-list p {
  margin: 0 0 10px;
}

.icon-plumber {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
  background-image: url("../masters_city/images/tools-wrench-pipe-512-color.png");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-hammer {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  background-size: 100%;
  background-image: url("../masters_city/images/hammer_settings-512-color.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pro-type-link, .pro-type-link:link,  .pro-type-link:visited{
  color: rgb(56, 120, 216);
  font-size: 12px;
}

.pro-type-link-title {
  color: rgb(56, 120, 216);
  line-height: 1.3;
  font-size: 14px;
  font-weight: bold;
}


.title {
font-size: 14px;
font-style: normal;
font-weight: 500;
}

.search-box {
    box-sizing: border-box;
    
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px; 
}
 
.sidebar {
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    clear: left;        /* clear each row */
    overflow: hidden;   /* triggers block formatting */
    zoom: 1;            /* triggers haslayyout in IE5-7*/
    _overflow: visible; /* IE6 underscore hack */
    background-color: white;
    padding-bottom: 2px;
}

.row-main {
    padding-top: 10px;
    padding-bottom: 15px;
}

.row-feature {
    border-top: 2px solid #ececec;
    padding-top: 10px;
    padding-bottom: 15px;
}

.w-col {
    box-sizing: border-box;
}

.w-col-feature1, .w-col-feature2 {
    float: left;
    box-sizing: border-box;
}

.w-col-feature1 {
    border-right: 2px solid #ececec;
    width: 40%;
}

.w-col-feature2 {
    width: 60%;
}

.w-001col, .w-002col, .w-003col, .w-004col {
    float: left;
    box-sizing: border-box;
}

.w-01col, .w-02col, .w-03col, .w-04col, .w-05col {
    box-sizing: border-box;
    float: left;
}

.w-logo, .w-1col, .w-2col, .w-3col {
    box-sizing: border-box;
    float: left;
}

.w-logo {
    width: 145px;
    padding-left: 10px;
}
.w-1col {
    width: 33.33%;
}

.w-2col {
    width: 66.67%;
}

.w-1col, .w-2col {
    float: left;
}

.w-001col {
    width: 20%;
}

.w-002col {
    width: 40%;
}

.w-003col {
    width: 60%;
}

.w-004col {
    width: 80%;
}

.w-01col {
    width: 16.66%;
}

.w-02col {
    width: 33.33%;
}

.w-03col {
    width: 50%;
}

.w-04col {
    width: 66.66%;
}

.w-05col {
    width: calc(100% - 145px);
}

.search-logo {
    border-radius: 50%;
    display: block;
    height: 125px;
    width: 125px;
    margin: auto;
}

.info-item {
    display: block;
    clear: both;
}

.box, .box-body {
    padding: 5px;
    display: block;    
    overflow: hidden;
    zoom: 1;
    _overflow: visible;
}

.box {
    margin: 0 0 10px;
}

.box-40 {
    height: 40px;
}

.box-60 {
    height: 70px;
}
.box-content {
    padding: 5px;

color: rgb(62, 69, 69);
font-family: 'Open Sans New', sans-serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
line-height: 20px;
}

.padding-profile {
    padding-left: 50px;
}

.font-title {
color: rgb(62, 69, 69);
cursor: pointer;
font-family: 'Open Sans New', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px;
text-decoration: none;
text-overflow: ellipsis;
white-space: nowrap;
}

.font-sub-title {
box-sizing: border-box;
color: rgb(97, 98, 101);
font-family: 'Open Sans New', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
line-height: 18px;
white-space: nowrap;
}

.font-phone {
color: rgb(62, 69, 69);
cursor: pointer;
font-family: 'Open Sans New', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
text-decoration: none;
}

.font-view-profile {
color: rgb(56, 120, 216);
cursor: pointer;
font-family: 'Open Sans New', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
line-height: 20px;
text-decoration: none;
}

.font-description {
color: rgb(62, 69, 69);
font-family: 'Open Sans New', sans-serif;
font-size: 11px;
font-style: normal;
font-weight: normal;
line-height: 20px;
}

.font-category {
color: rgb(167, 167, 167);
cursor: pointer;
font-family: 'Open Sans New', sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 17.5px;
text-decoration: none;
}

.category-list {
margin: 0;
}

.mc-search-gallery-link .mc-search-gallery-img {
    object-fit: cover;
    width: 60px;
    height: 60px;
}
.mc-search-gallery-link {
    margin 5px;
}

.end-search-box {
    clear: both;
}
